<div class="col-md-offset-2 col-md-4">
    <div class="form-login">
      <div class="flash_messages" style="display:none">
      <% flash.each do |message_type, message| %>
        <p><%= message %></p>
      <% end %>
      </div>
    <h4 id="login-invitation">Fill in your registration data</h4>
    <%= form_for :session, url: login_path do |f|%>
      <%= f.label :email, "enter-email" %> <br>
      <%= f.email_field :email, class: "form-control input-sm chat-input", placeholder: "email" %> <br>
      <%= f.label :password, "enter password" %> <br>
      <%= f.password_field :password, class: "form-control input-sm chat-input", placeholder: "password" %> <br>
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span><br>
      <% end %>
      <div class="wrapper">
        <span class="group-btn">
          <%= f.submit "Log in!", class: "btn btn-primary btn-md" %>
        </span>
      </div>
    <% end %>
    <div class="wrapper">
      <p>New user?<br><%= link_to "Signup now!", new_user_path %></p>
    </div>
  </div>
</div>